@(order : Order) 

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

        @for(i <- 0 until order.getItems().size()) {
        <tr>
          <td>@i<div class="product_id" style="visibility:hidden">@order.getItems().get(i).getProduct().getId()</div></td>
          <td>@order.getItems().get(i).getProduct().getName()</td>
          <td><div class="item_count">@order.getItems().get(i).getCount()</div></td>
          <td><div class="item_cost">@order.getItems().get(i).getProduct().getCost()</div></td>
          <td><div class="item_sum_cost">@(order.getItems().get(i).getProduct().getCost()*order.getItems().get(i).getCount())</div></td>
          <td>
             <div class="btn-group actions_item_in_basket_init">
  	        <button class="btn btn_product_inc">+</button>
  		<button class="btn btn_product_dec">-</button>
  		<button class="btn btn_product_remove">Удалить</button>
  	     </div>
          </td>
          <!--
            <td>
          	  <img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="routes.Assets.at(Application.getProductImagesPath() + product.image)">
	        </td>
	      -->
		<td>
        }
