@(productsList : List[Product])


        <div class="span6">
        @for(i <- 0 until 3) {
           @if(productsList.size() > i) {
			<div class="thumbnail">
			  <div class="productId" style="visibility: hidden">@productsList.get(i).id</div>
			  <div class="productCost" style="visibility: hidden">@productsList.get(i).getCost()</div>
			  @if(productsList.get(i).getImage() != null) {
	          <img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="@routes.Assets.at(productsList.get(i).getImage().getAssetPath())">
	          }
              <div class="caption">
                <h3>@productsList.get(i).getName()</h3>
                <p>@productsList.get(i).getDescr()</p>
                @if(Application.isFastCheckoutButton()) {
                <p><a href="#" class="btn btn-primary btn_add_to_basket_and_checkout">@Messages("catalog.fast_checkout")</a>
                }
                @if(Application.isProductAddRemoveToFromBasketButtons()) {
                <p><a href="#" class="btn btn-primary btn_add_to_basket">@Messages("catalog.buy")</a>
                }
                @if(Application.isProductAddRemoveToFromBasketButtons() || Application.isFastCheckoutButton()) {
                <p><a href="#" class="btn btn-primary btn_remove_from_basket">@Messages("catalog.remove")</a>
                }
              </div>
            </div>
           }
        }
        </div>
        
        <div class="span6">
        @for(i <- 3 until 6) {
           @if(productsList.size() > i) {
			<div class="thumbnail">
			  <div class="productId" style="visibility: hidden">@productsList.get(i).getId()</div>
			  <div class="productCost" style="visibility: hidden">@productsList.get(i).getCost()</div>
			  @if(productsList.get(i).getImage() != null) {
	          <img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="@routes.Assets.at(productsList.get(i).getImage().getAssetPath())">
	          }
              <div class="caption">
                <h3>@productsList.get(i).getName()</h3>
                <p>@productsList.get(i).getDescr()</p>
                @if(Application.isFastCheckoutButton()) {
                <p><a href="#" class="btn btn-primary btn_add_to_basket_and_checkout">@Messages("catalog.fast_checkout")</a>
                }
                @if(Application.isProductAddRemoveToFromBasketButtons()) {
                <p><a href="#" class="btn btn-primary btn_add_to_basket">@Messages("catalog.buy")</a>
                }
                @if(Application.isProductAddRemoveToFromBasketButtons() || Application.isFastCheckoutButton()) {
                <p><a href="#" class="btn btn-primary btn_remove_from_basket">@Messages("catalog.remove")</a>
                }
              </div>
            </div>
           }
        }
        </div>