@(imageList : List[Image]) 

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

        @for(image <- imageList) {
        <tr>
          <td>@image.id</td>
          <td><img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="@routes.Assets.at(image.getAssetPath())"></td>
	      <td>@image.name</td>
          <td>
               	<div class="btn-group">
  					<button class="btn" id="btn_remove_image_@image.id">Удалить</button>
				</div>
          
          		<script type="text/javascript">
					$("#btn_remove_image_@image.id").click(function() {
  				        appJsRoutes.controllers.Application.removeImage(@image.getId()).ajax({
    				        success: function(result) {
    				        	$('#btn_remove_image_@image.id').parent().parent().parent().remove();
    				        	if(result != null) {
    				        		$('#info_block').children().remove();
    				        		$('#info_block').append(result);
    				        	}
       						}
    			        });
					});
                </script>
          </td>
		<td>
        }
