@(messages : Map[String, String]) 

  @if(messages.contains("error")) {
    <div class="alert alert-error">
    <a class="close" data-dismiss="error">×</a>
        @messages.get("error")
    </div>
  }

  @if(messages.contains("warning")) {
    <div class="alert alert-block">
    <a class="close" data-dismiss="alert">×</a>
        @messages.get("warning")
    </div>
  }
  
  @if(messages.contains("success")) {
    <div class="alert alert-success">
    <a class="close" data-dismiss="success">×</a>
        @messages.get("success")
    </div>
  }