@(activeItem: String)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li@if(activeItem.equals("index")) { class="active" }><a href="/">@Messages("navbar.main")</a></li>
          <li@if(activeItem.equals("basket")) { class="active" }><a href="/basket">@Messages("navbar.products_in_basket")<div id="products_counter">0</div></a>
          </li>
          @subjectNotPresent() {          
      	  <li@if(activeItem.equals("login")) { class="active" }><a href="/login">@Messages("navbar.login")</a></li>
          <li@if(activeItem.equals("register")) { class="active" }><a href="/register">@Messages("navbar.register")</a></li>
          }
          
          @restrict(la(as(models.SecurityRole.ROLE_ADMIN))) {
      	  <li@if(activeItem.equals("admin")) { class="active" }><a href="/admin">@Messages("navbar.admin")</a></li>
          }
          
          @subjectPresent() {
          <li@if(activeItem.equals("logout")) { class="active" }><a href="/logout">@Messages("navbar.logout")</a></li>
          }
          
        </ul>
        <h3 class="muted">@Application.getProjectName()</h3>
      </div>
      <hr>
      