@(ordersList : List[Order]) 
              @for(order <- ordersList) {
              <tr>
                <td>@order.getId()</td>
                <td>@order.getLogin()</td>
                <td>@order.getStatus()</td>
                <td>
                  <div class="btn-group">
				    <button class="btn" id="btn_remove_order_@order.getId()">Удалить</button>
				    <button class="btn" id="btn_edit_order_@order.getId()" onclick="location.href='editOrder/@order.getId()'">Редактировать</button>
			      </div>
			      
			      <script type="text/javascript">
	   			    $("#btn_remove_order_@order.getId()").click(function() {
			          appJsRoutes.controllers.Application.removeOrder(@order.getId).ajax({
				          success: function() {
				        	$('#btn_remove_order_@order.getId()').parent().parent().parent().remove();
						  }
			          });
				    });
             	  </script>
             	  
                </td>
              </tr>
              }              
