@(paramsList : List[Param]) 
              @for(param <- paramsList) {
              <tr>
                <td>@param.id</td>
                <td><a href="#" id="name_@param.id" data-type="text" data-pk="@param.id" data-original-title="Enter new value">@param.name</a></td>
                <td><a href="#" id="descr_@param.id" data-type="wysihtml5" data-pk="@param.id" data-original-title="Enter new value">@param.descr</a></td>
                <td><a href="#" id="value_@param.id" data-type="text" data-pk="@param.id" data-original-title="Enter new value">@param.value</a></td>
                
                <script type="text/javascript">
                
   					$('#name_@param.id').editable({
    					url: function(params) {
    					        var d = new $.Deferred;
    					        if(params.value == null) {
    					        	return d.reject('Can\'t be null');
    					        }
    					        appJsRoutes.controllers.Application.changeParamName(params.pk, params.value).ajax({
    						        success: function() {
              							d.resolve();
           							}
    					        });
       							return d.promise();
    					     }
					});
                
   					$('#value_@param.id').editable({
    					url: function(params) {
    					        var d = new $.Deferred;
    					        appJsRoutes.controllers.Application.changeParamValue(params.pk, params.value).ajax({
    						        success: function() {
              							d.resolve();
           							}
    					        });
       							return d.promise();
    					     }
					});
					
					$('#descr_@param.id').editable({
    					url: function(params) {
    					        var d = new $.Deferred;
    					        if(params.descr == null) {
    					        	return d.reject('Can\'t be null');
    					        }
    					        appJsRoutes.controllers.Application.changeParamDescr(params.pk, params.value).ajax({
    						        success: function() {
              							d.resolve();
           							}
    					        });
       							return d.promise();
    					     }
					});

                </script>
                
                <td>
                	<div class="btn-group">
  						<button class="btn" id="btn_remove_param_@param.id">Удалить</button>
					</div>
					
					<script type="text/javascript">
						$("#btn_remove_param_@param.id").click(function() {
  					        appJsRoutes.controllers.Application.removeParam(@param.id).ajax({
    					        success: function() {
    					        	// TODO: unbind 'click'
    					        	$('#btn_remove_param_@param.id').parent().parent().parent().remove();
       							}
    				        });
						});
                	</script>
					
					
				</td>	
              </tr>
              }
