@(productList : List[Product]) 

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

        @for(product <- productList) {
        <tr>
          <td>@product.getId()</td>
          <td>@product.getName()</td>
          
          <td><input id="product_visible_@product.getId()" type="checkbox" @if(product.getVisible()) {checked}></td>
          
 <!--      <td>product.getCost()</td>
           <td>
           	if(product.getImage() != null) {
          		product.getImage().getName()
          	} else {
          	no
          	}
          </td>
          <td>
          	if(product.getImage() != null) {
          	<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="routes.Assets.at(product.getImage().getAssetPath())">
          	} else {
          	no
          	}
	      </td> -->
          <td>
            <div class="btn-group">
				<button class="btn" id="btn_remove_product_@product.id">Удалить</button>
				<button class="btn" id="btn_edit_product_@product.id" onclick="location.href='editProduct/@product.getId()'">Редактировать</button>
			</div>
			
			<script type="text/javascript">
				$("#btn_remove_product_@product.id").click(function() {
			        appJsRoutes.controllers.Application.removeProduct(@product.id).ajax({
				        success: function() {
				        	// TODO: unbind 'click'
				        	$('#btn_remove_product_@product.id').parent().parent().parent().remove();
						}
			        });
				});
				
				$("#product_visible_@product.getId()").click(function(e) {
					var newValue = $("#product_visible_@product.getId()").is(':checked');
			        appJsRoutes.controllers.Application.changeProductVisible(@product.id, newValue).ajax({
				        success: function() {
				        	$("#product_visible_@product.getId()").attr('checked', newValue);
						}
			        });
				});
        	</script>
          </td>
		<td>
        }
