@(usersList : List[User]) 
              @for(user <- usersList) {
              <tr>
                <td>@user.id</td>
                <td>@user.login</td>
                <td>@user.email</td>
                <td>acions todo</td>
              </tr>
              }
