@(mform: Form[controllers.form.AddImageForm])
@import helper.twitterBootstrap._

    @helper.form(routes.Application.processAddImage, 'enctype -> "multipart/form-data") {
    <fieldset>
    <legend>@Messages("addImage")</legend>

            @if(mform.hasGlobalErrors) { 
                <div class="alert alert-error">
                <a class="close" data-dismiss="alert">×</a>
                    @mform.globalError.message
                </div>
            }

            @if(flash.contains("success")) {
                <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                    @flash.get("success")
                </div>
            }

            @helper.inputFile(mform("image"), '_label -> Messages("addImage.image"), '_showConstraints -> false)


            <div class="form-actions">
                <button type="submit" class="btn btn-success">@Messages("button.addImage")</button>
            </div>              
    </fieldset>
    }

