@(mform: Form[controllers.form.AddParamForm])
@import helper.twitterBootstrap._

    @helper.form(routes.Application.processAddParam) {
    <fieldset>
    <legend>@Messages("addParam")</legend>

            @if(mform.hasGlobalErrors) { 
                <div class="alert alert-error">
                <a class="close" data-dismiss="alert">×</a>
                    @mform.globalError.message
                </div>
            }

            @if(flash.contains("success")) {
                <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                    @flash.get("success")
                </div>
            }

            @helper.inputText(mform("name"), '_label -> Messages("addParam.name"), '_showConstraints -> false)
            @helper.inputText(mform("descr"), '_label -> Messages("addParam.descr"), '_showConstraints -> false, 
            	'rows -> "5", 'style -> "height:50px;")
            @helper.inputText(mform("value"), '_label -> Messages("addParam.value"), '_showConstraints -> false)


            <div class="form-actions">
                <button type="submit" class="btn btn-success">@Messages("button.addParam")</button>
            </div>              
    </fieldset>
    }

