@(mform: Form[controllers.form.SendBasketForm])

@import helper.twitterBootstrap._

    @helper.form(routes.Application.processBasket, 'id -> "sendBasket") {
    <fieldset>
    <legend>@Messages("checkout")</legend>

            @if(mform.hasGlobalErrors) { 
                <div class="alert alert-error">
                <a class="close" data-dismiss="alert">×</a>
                    @mform.globalError.message
                </div>
            }

            @if(flash.contains("success")) {
                <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                    @flash.get("success")
                </div>
            }

            @helper.inputText(mform("basket"), '_label -> Messages("basket.basket"), '_showConstraints -> false, 'hidden -> "true")
            @helper.inputText(mform("login"), '_label -> Messages("basket.login"), '_showConstraints -> false)
            @helper.inputText(mform("phone"), '_label -> Messages("basket.phone"), '_showConstraints -> false)


            <div class="form-actions">
                <button type="submit" class="btn btn-success">@Messages("button.doSendBasket")</button>
            </div>              
    </fieldset>
    }
