@(mform: Form[controllers.form.EditOrderForm])

@import helper.twitterBootstrap._

    @helper.form(routes.Application.processEditOrder, 'id -> "editOrder") {
    <fieldset>
    <legend>@Messages("editOrder")</legend>

            @if(mform.hasGlobalErrors) { 
                <div class="alert alert-error">
                <a class="close" data-dismiss="alert">×</a>
                    @mform.globalError.message
                </div>
            }

            @if(flash.contains("success")) {
                <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                    @flash.get("success")
                </div>
            }

			<div style="display: none;">
            @helper.inputText(mform("id"), '_showConstraints -> false, 'type -> "hidden")
           	</div>
            @helper.inputText(mform("login"), '_label -> Messages("ebasket.login"), '_showConstraints -> false)
            @helper.inputText(mform("phone"), '_label -> Messages("ebasket.phone"), '_showConstraints -> false)
            @helper.inputText(mform("status"), '_label -> Messages("ebasket.status"), '_showConstraints -> false)


            <div class="form-actions">
                <button type="submit" class="btn btn-success">@Messages("button.saveOrder")</button>
            </div>              
    </fieldset>
    }
