@(mform: Form[controllers.form.EditProductForm])
@import helper.twitterBootstrap._

    @helper.form(routes.Application.processEditProduct) {
    <fieldset>
    <legend>@Messages("editProduct")</legend>

            @if(mform.hasGlobalErrors) { 
                <div class="alert alert-error">
                <a class="close" data-dismiss="alert">×</a>
                    @mform.globalError.message
                </div>
            }

            @if(flash.contains("success")) {
                <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                    @flash.get("success")
                </div>
            }

			<div style="display: none;">
            @helper.inputText(mform("id"), '_showConstraints -> false, 'type -> "hidden")
           	</div>
           	
            @helper.inputText(mform("name"), '_label -> Messages("addProductToCatalog.name"), '_showConstraints -> false)
            @helper.inputText(mform("descr"), '_label -> Messages("addProductToCatalog.descr"), '_showConstraints -> false, 
            	'rows -> "5", 'style -> "height:50px;")
            @helper.inputText(mform("cost"), '_label -> Messages("addProductToCatalog.cost"), '_showConstraints -> false)
            @helper.inputText(mform("image"), '_label -> Messages("addProductToCatalog.image"), '_showConstraints -> false)


            <div class="form-actions">
                <button type="submit" class="btn btn-success">@Messages("button.editProductSend")</button>
            </div>              
    </fieldset>
    }

