@(mform: Form[controllers.form.LoginUserForm])

@import helper.twitterBootstrap._

    @helper.form(routes.Application.processLogin) {
    <fieldset>
    <legend>@Messages("login")</legend>

            @if(mform.hasGlobalErrors) { 
                <div class="alert alert-error">
                <a class="close" data-dismiss="alert">×</a>
                    @mform.globalError.message
                </div>
            }

            @if(flash.contains("success")) {
                <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                    @flash.get("success")
                </div>
            }

            @helper.inputText(mform("email"), '_label -> Messages("login.email"), '_showConstraints -> false)
            @helper.inputPassword(mform("password"), '_label -> Messages("login.password"), '_showConstraints -> false)


            <div class="form-actions">
                <button type="submit" class="btn btn-success">@Messages("button.doLogin")</button>
                @Messages("or")
                <a class="btn btn-warning" href="register">@Messages("button.goToRegister")</a>
            </div>              
    </fieldset>
    }

