@()
@base.page("admin") {




<div class="tabbable"> <!-- Only required for left/right tabs -->

	<div id="info_block">
	  @if(flash.contains("success")) {
	    <div class="alert alert-success">
	    <a class="close" data-dismiss="alert">×</a>
	        @flash.get("success")
	    </div>
	  }
	  
	  @if(flash.contains("warning")) {
	    <div class="alert alert-block">
	    <a class="close" data-dismiss="alert">×</a>
	        @flash.get("warning")
	    </div>
	  }
	</div>
  

  <ul class="nav nav-tabs">
    <li class="active"><a href="#orders_tab" data-toggle="tab">@Messages("admin.orders")</a></li>
    <li><a href="#users_tab" data-toggle="tab">@Messages("admin.users")</a></li>
    <li><a href="#products_tab" data-toggle="tab">@Messages("admin.products")</a></li>
    <li><a href="#params_tab" data-toggle="tab">@Messages("admin.params")</a></li>
    <li><a href="#images_tab" data-toggle="tab">@Messages("admin.images")</a></li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane active" id="orders_tab">
	  @base.pagger()
      <table class="table table-striped" id="orders_table">
        <thead>
          <tr>
            <th>@Messages("admin.order.id")</th>
            <th>@Messages("admin.order.login")</th>
            <th>@Messages("admin.order.status")</th>
            <th>@Messages("admin.order.actions")</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  
    <div class="tab-pane" id="users_tab">
	  @base.pagger()
      <table class="table table-striped" id="users_table">
        <thead>
          <tr>
            <th>@Messages("admin.user.id")</th>
            <th>@Messages("admin.user.login")</th>
            <th>@Messages("admin.user.email")</th>
            <th>@Messages("admin.user.actions")</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    
	<div class="tab-pane" id="products_tab">
	  <div class="navbar">
	    <div class="navbar-inner">
	      <ul class="nav">
	        <li><a href="/addProductToCatalog">@Messages("navbar.addProductToCatalog")</a></li>
	      </ul>
	    </div>
      </div>
	  @base.pagger()
      <table class="table table-striped" id="products_table">
        <thead>
          <tr>
            <th>@Messages("admin.product.id")</th>
            <th>@Messages("admin.product.name")</th>
            <th>@Messages("admin.product.visible")</th>
            <!-- <th>Messages("admin.product.cost")</th>
            <th>Messages("admin.product.image_name")</th>
            <th>Messages("admin.product.image")</th> -->
            <th>@Messages("admin.product.actions")</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    
    <div class="tab-pane" id="params_tab">
      <div class="navbar">
	    <div class="navbar-inner">
	      <ul class="nav">
	        <li><a href="/addParam">@Messages("navbar.addParam")</a></li>
	      </ul>
	    </div>
      </div>
	  @base.pagger()
      <table class="table table-striped" id="params_table">
        <thead>
          <tr>
            <th>@Messages("admin.param.id")</th>
            <th>@Messages("admin.param.name")</th>
            <th>@Messages("admin.param.descr")</th>
            <th>@Messages("admin.param.value")</th>
            <th>@Messages("admin.param.actions")</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    
    <div class="tab-pane" id="images_tab">
      <div class="navbar">
	    <div class="navbar-inner">
	      <ul class="nav">
	        <li><a href="/addImage">@Messages("navbar.addImage")</a></li>
	      </ul>
	    </div>
      </div>
	  @base.pagger()
      <table class="table table-striped" id="images_table">
        <thead>
          <tr>
            <th>@Messages("admin.image.id")</th>
            <th>@Messages("admin.image.image")</th>
            <th>@Messages("admin.image.name")</th>
            <th>@Messages("admin.image.actions")</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    
   </div>
</div>



}
