@(mform: Form[controllers.form.SendBasketForm])
@base.page("basket") {
    <div id="basket_checkout">
    	<div id="products_container">
    	    <table class="table table-striped" id="basket_table">
                <thead>
                  <tr>
                    <th>@Messages("basket.id")</th>
                    <th>@Messages("basket.name")</th>
                    <th>@Messages("basket.count")</th>
                    <th>@Messages("basket.one_cost")</th>
                    <th>@Messages("basket.sum_cost")</th>
                    <th>@Messages("basket.actions")</th>
                  </tr>
                </thead>
                <tbody>
                
                </tbody>
           </table>
    	</div>
    </div>
    
    @forms.basketForm(mform)
}
