@(mform: Form[controllers.form.EditOrderForm], order: Order)
@base.page("basket") {
	
    <div id="basket_checkout">
    	<div id="products_container">
    	    <table class="table table-striped" id="orders_table">
                <thead>
                  <tr>
                    <th>@Messages("basket.id")</th>
                    <th>@Messages("basket.name")</th>
                    <th>@Messages("basket.count")</th>
                    <th>@Messages("basket.one_cost")</th>
                    <th>@Messages("basket.sum_cost")</th>
                    <th>@Messages("basket.actions")</th>
                  </tr>
                </thead>
                <tbody>
                @for(i <- 0 until order.getItems().size()) {
                  <tr>
                    <td>@i<div class="product_id" style="visibility:hidden">@order.getItems().get(i).getProduct().getId()</div></td>
                    <td>@order.getItems().get(i).getProduct().getName()</td>
                    <td><div class="item_count">@order.getItems().get(i).getCount()</div></td>
                    <td><div class="item_cost">@order.getItems().get(i).getProduct().getCost()</div></td>
                    <td><div class="item_sum_cost">@(order.getItems().get(i).getProduct().getCost()*order.getItems().get(i).getCount())</div></td>
                    <td>
                      <div class="btn-group actions_item_in_basket_init">
                        <button class="btn btn_product_inc">+</button>
                        <button class="btn btn_product_dec">-</button>
                        <button class="btn btn_product_remove">Удалить</button>
                      </div>
                    </td>
                  </tr>
                }
                </tbody>
           </table>
    	</div>
    </div>
    
    @forms.editOrderForm(mform)
}
